
body{
	background: #000000;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

html{
	margin: 0;
	height: 100%;
}

#Canvas{
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: none;
	background: black;
}



#circle1{
	display: none;
	position: absolute;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background: red;
	z-index: 50; 
}
#StartButton{
	display: block;
	margin: auto;
	font-family: 'Slabo 27px', serif;
	padding: 0.08em;
	background: #000;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.03em;
	font-size: 8em;
	text-align: center;
	border-radius: 0.2em;
	vertical-align: baseline;
	cursor: pointer;
}


#center{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
#information{
	display: none;
	position: absolute;
	right: 0;
	width: 20%;
	background: #ffffff;
}


#box, #box2, #replayButton{
	position: relative;
	border: 2px solid black;
	text-align: center;
}

#box{
	top: 5px;
	width: 80%;
	margin: 0 auto;
}

#replayButton{
	bottom: 10%;
	border: none;
	font-size: 3vw;
	width: 4vw;
	height: 4vw;
	right: 8vw;
	padding-top: 1vw;
	border-radius: 100%;
	background: black;
	color: red;
	cursor: pointer;
	display: none;
}
#box2{
	padding-top: 0;
	padding-bottom: 25px;
	width: 90%;
	margin: 0 auto;

}

#table{
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-right: transparent;
	border-left: transparent;
	border-bottom: transparent;
	margin: 0 auto;
}

#Timetitle, #ScoreBoard{
	font-size: 3vw;
	margin: 0;
}


#Time{
	font-weight: 100;
	font-size: 2vw;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

th{
	font-size: 1.5vw;
}

td{
	font-size: 1vw;
}

#time{
	text-align: center;
	font-size: 10em;
	color: red;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}