
body{
	background: #000000;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

html{
	margin: 0;
	height: 100%;
}

#Canvas{
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: none;
	background: black;
}


#signIn{
	height: 45%;
	background: black;
	color: white;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
}


#signIn form{
	height: 60%;
	margin: auto;
	margin-top: 5%;
	z-index: 100;
}
#signIn h2{
	width: 100%;
	letter-spacing: 2px;
	font-style: italic;
	font-weight: 300;
	font-size: 3em;
	padding-left: 2vw;
	margin: auto;
	z-index: 100;
	margin-top: 3.5%;
}

#signIn .userDetails{
	margin-left: 40%;
	width: 55%;
	height: 14%;
	border-radius: 5px;
	z-index: 100;
}

#signIn input[type="text"],#signIn input[type="password"] {
	font-size: 1.8em;
	letter-spacing: 1.2px;
	z-index: 100;
}

#buttons{
	width: 100%;
	display: inline-flex;
	font-size: 2em;
	margin-top: 0.6vw;
	z-index: 100;

}

#buttons #signInButton, #signUpButton {
	margin: auto;
	cursor: pointer;
	position: relative;
	background: #74f22b;
	color: black;
	font-style: italic;
	font-weight: 500;
	border-radius: 50%;
	padding: 1vw 1vw;
	z-index: 100;
}



#circle1{
	position: absolute;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background: black;
	z-index: 50; 
}
#StartButton{
	display: none;
	position: relative;
	font-family: 'Slabo 27px', serif;
	top: 40%;
	margin: auto;
	width: 25%;
	background: #000;
	color: #fff;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 10vw;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}

#information{
	display: none;
	position: absolute;
	right: 0;
	width: 20%;
}


#box, #box2, #replayButton{
	position: relative;
	border: 2px solid black;
	text-align: center;
}

#box{
	top: 5px;
	width: 80%;
	margin: 0 auto;
}

#replayButton{
	bottom: 10%;
	border: none;
	font-size: 3vw;
	width: 4vw;
	height: 4vw;
	right: 8vw;
	padding-top: 1vw;
	border-radius: 100%;
	background: black;
	color: red;
	cursor: pointer;
}
#box2{
	padding-top: 0;
	padding-bottom: 25px;
	width: 90%;
	margin: 0 auto;

}

#table{
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-right: transparent;
	border-left: transparent;
	border-bottom: transparent;
	margin: 0 auto;
}

#Timetitle, #ScoreBoard{
	font-size: 3vw;
	margin: 0;
}


#Time{
	font-weight: 100;
	font-size: 2vw;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

th{
	font-size: 1.5vw;
}

td{
	font-size: 1vw;
}